/*=============================================================================
   SPACING + RATIO
   ========================================================================== */

$ratio: 1.625px;
$main-container: $ratio*465;

$phone: 640px;
$tablet: 768px;