---
layout: default
---

<header>
	<article class="presentation">
		<h1>{{ site.title }}</h1>
		<p class="intro">I love building, writing and reading about products, startups, and the Web. Currently on a mission to make your webinars smarter, simpler and more efficient.</p>
    <p>Current status: <strong>Co-founder & CEO</strong> at <a href="//livestorm.co" target="_blank">Livestorm</a>.<br />
		Formerly: <strong>Product Designer</strong> at <a href="//totems.co" target="_blank">TOTEMS</a> (exit by Stripe) / <strong>Growth Hacker</strong> at <a href="//mention.com/en/" target="_blank">Mention</a>.</p>

    <h2>ABOUT LIVESTORM</h2>
		<p>At Livestorm we help companies host smarter webinars. Our mission is to provide simpler, more efficient webinars that drive better leads. We strive to build the best experience possible for our users. We focus on design, high disponibility and technical capabilties.</p>
    <p>We provide smarter webinars, you get better leads.<br><a href="//livestorm.co">Get early access</a></p>
	</article>
</header>

<section class="main-section">
	<p id="projects" class="sections sections--work"><strong>SIDE PROJECTS</strong></p>
	<hr class="top-sep">
	<ul class="projects">

		{% for project in site.projects  %}
			<li class="project">
				<a class="project-link" target="_blank" href="{{project.link}}" title="{{project.title}}">{{project.title}}</a>
			</li>
		{% endfor %}

  </ul>
</section>

<section class="main-section">
	<p id="talks" class="sections sections--talks"><strong>TALKS</strong></p>
	<hr class="top-sep">
  <ul class="projects">

		{% for talk in site.talks %}
			<li class="project">
				<a class="project-link" target="_blank" href="{{talk.link}}" title="{{talk.title}}">{{talk.title}}</a>
			</li>
		{% endfor %}

  </ul>
</section>

<section class="main-section">
	<p id="blog" class="sections sections--blog"><strong>ESSAYS</strong></p>
	<hr class="top-sep">
	<ul>

		{% assign count = 0 %}
		{% for post in site.posts %}
			{% assign count = count | plus: 1 %}

			{% if post.status == "ok" %}
				{% if count == 1 %}

				<li class="index-post">
					<a class="index-post-link" href="{{ post.url }}" title="{{ post.title }}">{{ post.title }} ({{post.lang}})</a><span class="new-post">NEW</span>
				</li>

				{% else %}

				<li class="index-post">
					<a class="index-post-link" href="{{ post.url }}" title="{{ post.title }}">{{ post.title }} ({{post.lang}})</a>
				</li>

				{% endif %}
			{% endif %}
		{% endfor %}

  </ul>
</section>

<section class="main-section">
	<p id="qas" class="sections sections--qas"><strong>Q&As</strong></p>
	<hr class="top-sep">
	<ul>

		{% for answer in site.quora  %}

			<li class="index-post">
				<a class="index-post-link" href="{{ answer.link }}" target="_blank" title="{{ answer.title }}">{{ answer.title }}</a>
			</li>

		{% endfor %}

  </ul>
</section>
