---
layout: default
---

<header>
	<article>
		<h1>{{ site.title }}</h1>
		<p class="intro">I love building, writing and reading about products, startups and technology. I am also big on side projects. I aim for great customer experiences and detailed yet simple, effective designs. Feel free to <a href="mailto:hello@gillesbertaux.com?subject=Hi%20Gilles" title="mail Gilles Bertaux">reach out</a>.</p>
		
		<p>I do: <strong>Product Management</strong>, <strong>Product Design</strong> & <strong>Growth</strong>.<br />Current status: <strong>Growth Hacker</strong> at <a href="http://mention.com" target="_blank">Mention</a>.<br />Formerly: <strong>Product Designer</strong> at <a href="http://totems.co" target="_blank">TOTEMS</a> (acquired by Stripe).</p>

		{% assign day = site.time | date: '%A'  %}
		{% if day == "Monday" %}
		<p><em>Hang on, {{ day }} is almost over! Have a great week!</em></p>
		{% elsif day == "Friday" %}
		<p><em>TGIF! Have a great week-end!</em></p>
		{% else %}
		<p><em>Ugh week-end is almost over...Happy {{ day }} though!</em></p>
		{% endif %}

	</article>
</header>

<p class="sections"><strong>SIDE-PROJECTS</strong></p>
<hr class="top-sep">

<section>
	<ul>
		<li class="link">
			<h3 class="project-name"><a class="project-link" target="_blank" href="http://tubelist.co" title="TubeList: Discover new YouTube channels">TubeList <span>&#10142;</span></a></h3>
			<span><h2 class="skill">Product Design</h2></span>
			<span><h2 class="skill">Growth</h2></span>
			<p>TubeList is a new way to explore and discover everyday new YouTube channels and support the ones you like. Think of it as a Product Hunt or a Reddit for YouTube channels. TubeList is also a cool way for youtubers to share their work and interact with their community. We built it with <a target="_blank" href="http://vincentgarreau.com">Vincent </a>. Featured <a target="_blank" title="tubelist on product hunt" href="http://www.producthunt.com/posts/tubelist">on Product Hunt</a>.</p>
		</li>
		
		<li><hr class="sep"></li>

		<li class="link">
			<h3 class="project-name"><a class="project-link" target="_blank" href="http://dataparis.io" title="Dataparis representation of Paris public datas through the metro network">DataParis.io <span>&#10142;</span></a></h3>
			<span><h2 class="skill">Growth</h2></span>
			<p>DataParis is a representation of Paris public data through the metro network. We built it with my teamates <a href="http://robinlambert.fr/">Robin</a>, <a target="_blank" href="http://vincentgarreau.com">Vincent </a>and <a target="_blank" href="http://dribbble.com/RemiFayolle">Rémi</a>. The <a target="_blank" href="https://medium.com/philosophy-logic/8c103880dbac" title="Dataparis Case Study">Case Study</a> is on Medium. Featured <a target="_blank" href="http://rue89.nouvelobs.com/2013/06/15/dis-quelle-est-station-metro-dirais-combien-gagnes-243355">on Rue89</a>, we even had a radio interview!</p>
		</li>
		
		<li><hr class="sep"></li>

		<li class="link">
			<h3 class="project-name"><a class="project-link" target="_blank" href="http://techobject.net" title="Techobject: IoT trends observatory platform">Techobject <span>&#10142;</span></a></h3>
			<span><h2 class="skill">Product Design</h2></span>
			<span><h2 class="skill">Growth</h2></span>
			<p>Techobject provides consumer insights on IoT products through integrated polls. It was initially built by <a target="_blank" href="http://vincentgarreau.com">Vincent </a>and <a target="_blank" href="http://tomforlini.fr">Tom</a>. I do Growth Strategy as well as Product Design on features like <a target="_blank" href="https://github.com/gillesbertaux/TOnews" title="Techobject News">Techobject News</a>.</p>
		</li>

		<li><hr class="sep"></li>
		
		<li class="link">
			<h3 class="project-name"><a class="project-link" target="_blank" href="http://devserver.me/datagouv/data.php" title="French Open Data Portal">French Open Data Portal <span>&#10142;</span></a></h3>
			<span><h2 class="skill">Product Management</h2></span>
			<p>This project was for Etalab, the french prime minister task force in charge of deploying the current open data portal. After a lot of research, this is the final prototype we delivered with my teamates <a href="http://robinlambert.fr/">Robin</a>, <a target="_blank" href="http://vincentgarreau.com">Vincent </a>and <a target="_blank" href="http://dribbble.com/RemiFayolle">Rémi</a>.</p>
		</li>
		
		<li><hr class="sep"></li>
		
		<li class="link">
			<h3 class="project-name"><a class="project-link" target="_blank" href="https://www.behance.net/gallery/IMDB-Redesign/12321857" title="IMDB Redesign">IMDB Redesign <span>&#10142;</span></a></h3>
			<span><h2 class="skill">Design</h2></span>
			<p>I made this IMDB redesign as a side-project with my teammate<a target="_blank" href="http://dribbble.com/RemiFayolle"> Rémi</a>. See the <a target="_blank" href="https://medium.com/p/2e9e865dd83" title="Case Study IMDB">Case Study</a> on Medium. The project has been featured on <a target="_blank" href="http://sidebar.io/2014/3/10">Sidebar.io</a>, <a href="http://gizmodo.com/this-beautiful-imdb-redesign-concept-is-long-overdue-1540686879">Gizmodo</a> & <a href="http://www.cssdesignawards.com/articles/beautiful-unofficial-redesigns-of-big-brand-digital/120/">CSS Design Awards</a>.<p>
		</li>
		
		<li><hr class="sep"></li>

		<li class="link">
			<h3 class="project-name"><a class="project-link" target="_blank" href="http://projectionist.io/">Projectionist.io <span>&#10142;</span></a></h3>
			<span><h2 class="skill">Product Design</h2></span>
			<span><h2 class="skill">Growth</h2></span>
			<p>Projectionist.io is a theme-based list of 5 curated must-watch movies in your inbox every month. You can see all the past campaigns <a href="http://us9.campaign-archive2.com/home/?u=4f6d9dced4bbf44c57caa73a2&id=1bcc13f4e4">here</a>. Projectionist.io currently has 250 subscribers.<p>
		</li>
		
    </ul>
</section>

<p class="sections"><strong>OPEN SOURCE - HELP YOURSELF</strong></p>
<hr class="top-sep">

<section>
	<ul>
		<li class="link">
			<h3 class="project-name"><a class="project-link" target="_blank" href="http://gillesbertaux.com/andy" title="Andy is an open-source collection of useful SASS mixins">Andy.SCSS <span>&#10142;</span></a></h3>
			<span><h2 class="skill">Product Design</h2></span>
			<p>Andy is an open-source collection of useful SASS mixins. The great majority of those mixins are home-made, but some were found during my researches. Featured on <a href="http://www.blogduwebdesign.com/webdesign/les-ressources-web-du-lundi-98/1674" target="_blank" title="Le blog du Webdesign">Le Blog du Webdesign</a>, <a href="http://speckyboy.com/2014/11/26/weekly-news-designers-n-261/" target="_blank" title="Speckyboy">Speckyboy</a> and <a href="https://news.layervault.com/stories/38598-show-dn-andyscss-useful-sass-mixins" target="_blank" title="Designer News">Designer News</a>.</p>
		</li>

		<li><hr class="sep"></li>
		
		<li class="link">
			<h3 class="project-name"><a class="project-link" target="_blank" href="http://gillesbertaux.com/bootsy" title="Bootsy is a Framework for Project Managers">Bootsy Framework <span>&#10142;</span></a></h3>
			<span><h2 class="skill">Product Design</h2></span>
			<p>Bootsy is a Framework for Project Managers. It provides through a single line of command a well-organized folder structure for your project. Featured on <a href="http://speckyboy.com/2014/12/23/weekly-news-designers-n-265/" target="_blank" title="Speckyboy">Speckyboy</a>, <a href="http://codevisually.com/bootsy-a-simple-file-organizer-for-small-projects/" target="_blank" title="Codevisually">Codevisually</a>, and <a href="https://twitter.com/hnycombinator/status/435141697362984960">Hacker News</a>.</p>
		</li>

		<li><hr class="sep"></li>

		<li class="link">
			<h3 class="project-name"><a class="project-link" target="_blank" href="http://gillesbertaux.github.io/merryclean/" title="Clean, responsive blogging theme for Jekyll">Merryclean <span>&#10142;</span></a></h3>
			<span><h2 class="skill">Product Design</h2></span>
			<p>Merryclean is a clean, responsive blogging theme for Jekyll. It has a single column layout and is ready to push to Github Pages. You can fork it on my <a href="https://github.com/gillesbertaux/merryclean" target="_blank" title="Clean, responsive blogging theme for Jekyll">Github repo</a></p>
		</li>
	</ul>
</section>

<p class="sections"><strong>TALKS I GAVE</strong></p>
<hr class="top-sep">

<section>
	<ul>
		<li class="link">
			<h3 class="project-name"><a class="project-link" title="Product Management 101" target="_blank" href="https://speakerdeck.com/gillesbertaux/product-management-101-at-hetic">Product Management 101 <span>&#10142;</span></a></h3>
			<p>Talk given @ HETIC, a french university, on Product Management and, more specifically, the Customer Development methodology from Steve Blank.</p>
		</li>

		<li><hr class="sep"></li>

		<li class="link">
			<h3 class="project-name"><a class="project-link" href="http://fr.slideshare.net/mentionapp/mention-unicorns" target="_blank" title="3 Growth Hacks To Test In Less Than an Hour">3 Growth Hacks To Test In Less Than an Hour <span>&#10142;</span></a></h3>
			<p>This is the presentation we made at IdeaLabs in Antwerp, Belgium, for the "Unicorns & Rainbow" conference. The main topic was growth hacking. We wanted the audience to test (and improve) those growth hacks for their own businesses. Those hacks were tested during our weekly iterations here at Mention. </p>
		</li>

		<li><hr class="sep"></li>

		<li class="link">
			<h3 class="project-name"><a class="project-link" <a href="http://fr.slideshare.net/mentionapp/mention-nps-process-reduce-churn-increase-customer-hapiness" target="_blank" title="Mention NPS Process : Reduce Churn & Increase Customer Happiness">Mention NPS Process <span>&#10142;</span></a></h3>
			<p>NPS is not only a system to learn more about your customers, but an invitation to automate upgrade incentives and churn reduction processes. We achieved a 3,5x improvement on upgrades. Here's the presentation we made at TheFamily in Paris. Or you can watch <a href="https://youtu.be/NpFDfElZcuo?t=10m43s" target="_blank" title="video nps process mention">the video</a>.</p>
		</li>
  </ul>
</section>

<p class="sections"><strong>MY LATEST BLOG POST</strong></p>
<hr class="top-sep">

<section>
	<ul>
		{% for post in site.posts limit:1 %}
		<li class="index-post">
			<h3 class="project-name"><a class="index-post-link" href="{{ post.url }}" title="{{ post.title }}">{{ post.title }} <span>&#10142;</span></a></h3>
			<p>{{ post.excerpt | remove: '<p>' | remove: '</p>' }}</p>
		</li>
		{% endfor %}
    </ul>
    <p><a title="blog" href="http://gillesbertaux.com/blog">There's more posts here</a></p>
</section>
