<footer>
  <ul class="social-links">
    <li class="social-link"><a target="_blank" href="http://twitter.com/gillesbertaux" title="Twitter Gilles Bertaux">Twitter</a></li>
    <li class="social-link"><a target="_blank" href="http://medium.com/@gillesbertaux" title="Medium Gilles Bertaux">Medium</a></li>
    <li class="social-link"><a target="_blank" href="http://github.com/gillesbertaux" title="Github Gilles Bertaux">Github</a></li>
    <li class="social-link"><a target="_blank" href="http://dribbble.com/gillesbertaux" title="Dribbble Gilles Bertaux">Dribbble</a></li>
    <li class="social-link"><a target="_blank" href="https://www.behance.net/gilles_bertaux" title="Behance Gilles Bertaux">Behance</a></li>
    <li class="social-link"><a target="_blank" href="https://angel.co/gillesbertaux" title="Angelist Gilles Bertaux">Angelist</a></li>
    <li class="social-link"><a target="_blank" href="http://fr.linkedin.com/in/gillesbertaux" title="Linkedin Gilles Bertaux">Linkedin</a></li>
    <li class="social-link"><a target="_blank" href="https://keybase.io/gilles" title="Keybase Gilles Bertaux">Keybase</a></li>
    <li class="social-link"><a target="_blank" href="https://www.coinbase.com/gilles" title="Coinbase Gilles Bertaux">Coinbase</a></li>
  </ul>
</footer>