<nav class="nav">
  <div>
    <a class="link-nav link-nav--about"href="/">Home</a>
    <a class="link-nav link-nav--work"href="/#projects">Projects</a>
    <a class="link-nav link-nav--talks"href="/#talks">Talks</a>
    <a class="link-nav link-nav--blog"href="/#blog">Essays</a>
    <a class="link-nav link-nav--qas"href="/#qas">Q&As</a>
  </div>
  <div>
    <span class="desc-nav">Need to run smarter webinars?</span>
    <a class="nav-btn" href="https://livestorm.co/?utm_source=gilles-website&utm_medium=main-btn&utm_campaign=referrall-gilles
">See Livestorm</a>
  </div>
</nav>