<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "BlogPosting",
  "datePublished": "{{ page.date}}",
  "headline": "{{ page.title }}",
  "mainEntityOfPage": {
    "@type": "Webpage",
    "@id": "{{ site.url }}{{ page.url }}"
  },
  "image": {
    "@type": "ImageObject",
    "url": "https://pbs.twimg.com/profile_images/2713230287/665da44b466cc11e706cf5e4cf918618.png",
    "height": "458",
    "width": "458"
  },
  "author": {
    "@type": "Person",
    "name": "Gilles Bertaux"
  },
  "publisher": {
    "@type": "Organization",
    "name": "Livestorm",
    "logo": {
      "@type": "ImageObject",
      "url": "https://pbs.twimg.com/profile_images/739798467795640320/8umwE8F8.jpg",
      "height": "458",
      "width": "458"
    }
  },
  "description": "{{ page.description }}",
  "dateModified": "{{ page.date}}"
}
</script>