$blue: #3ca8db;
$darkgrey: #222;
$middlegrey: #9013fe;
$grey: #444;
$lightgrey: #eee;
$verylightgrey: #f9f9f9;
$red: #d24367;
$white: #ffffff;
$primary: $darkgrey;
$secondary: $blue;
$tertiary: $grey;
h1, h2 { color: $primary; }
p, li { color: $tertiary; }
a { color: $secondary; }
a:hover { text-decoration: underline; }
