/*=============================================================================
   COLORS
   ========================================================================== */

$blue: #3CA8DB;
$darkgrey: #222;
$grey: #444;
$lightgrey: #eee;
$verylightgrey: #f9f9f9;
$red: #D24367;

$primary: $darkgrey;
$secondary: $blue;
$tertiary: $grey;

/**** GLOBAL RULES ****/

h1, h2 { color: $primary; }
p, li { color: $tertiary; }
a { color: $secondary; }
a:hover { text-decoration: underline; }
