/*=============================================================================
   FONTS
   ========================================================================== */

/**** HELPERS ****/

$big: 1.2rem;
$tall: 1rem;
$middle: 1.2rem;
$default: 1rem;
$small: .875rem;
$verysmall: .7rem;

$title-size: $big;
$subtitle-size: $tall;
$corpus-size: $small;
$link-size: $small;

$bold: 700;
$verybold: 900;
$default: 400;
strong { font-weight: 600; }

$main-font: 'Open Sans', sans-serif;
$secondary-font: 'Lato', sans-serif;

@mixin title($weight, $style, $size) { font-family: $secondary-font; font-weight: $weight; font-style: $style; font-size: $size; line-height: 1.2; }
@mixin corpus($weight, $style, $size) { font-family: $main-font; font-weight: $weight; font-style: normal; font-size: $size; line-height: 2; }

@mixin main-title { @include title($bold, normal, $title-size); }
@mixin sub-title { @include title($bold, normal, $subtitle-size); }
@mixin corpus-normal { @include corpus($default, normal, $corpus-size); }
@mixin corpus-italic { @include corpus($default, italic, $corpus-size); }
@mixin links-italic { @include corpus($default, italic, $link-size); }

/**** GLOBAL TYPOGRAPHY ****/

h1 { @include main-title; margin-bottom: 21px; }
h2 { @include corpus-italic; }
.post-content h2 { @include sub-title; font-size: $big; }
h3 { @include sub-title; }
p  { @include corpus-normal; }
a, a:hover { text-decoration: none; }
