/*=============================================================================
   SPACING + RATIO
   ========================================================================== */

$ratio: 1.625px;
$main-container: $ratio*430;

$phone: 640px;
$tablet: 850px;

@mixin radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}