<!DOCTYPE HTML>
<html lang="en">
{% include head-blog.html %}
<script src="//load.sumome.com/" data-sumo-site-id="d611300aeb608d5a1587e1529366da5fdf2f93c3f11019db0fc3ba13c2591060" async="async"></script>
<body>

  <div class="wrapper wrapper--post">

    {% include nav.html %}

  	<header class="post-header">
	    <h1 class="post-title">{{ page.title }}</h1>
      <p class="post-meta" datetime="{{ page.date}}">Published on {{ page.date | date: "%b %-d, %Y" }}</span></p>
  	</header>

    <article class="post-content">
    {{ content }}
  	</article>

    <div id="disqus_thread" class="post-comments"></div>

  </div>

{% include scripts.html %}
{% include ga.html %}
{% include disqus.html %}
{% include schema.html %}
</body>
</html>
